.wide-list__card {
  width: 100%;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px #CBD2D9;
}

.wide-list__img-container {
  width: 240px;
  height: 240px;
  position: relative;
  flex-shrink: 0;
}

.wide-list__link_type_image {
  width: 100%;
  height: 100%;
  display: block;
}

.wide-list__link_type_image::after {
  position: absolute;
  inset: 0;
  content: '';
  background-color: #000;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.wide-list__link_type_image:hover::after {
  opacity: .3;
}

.wide-list__product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wide-list__info {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 25px;
}

.wide-list__link_type_name {
  display: inline-block;
  height: 48px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.wide-list__link_type_name:hover {
  color: #2D3A8C;
}

.wide-list__name {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 15px;
}

.wide-list__description {
  display: inline-block;
  height: 80px;
  font-size: 16px;
  line-height: 20px;
}

.wide-list__cost-info {
  display: flex;
  align-items: center;
}

.wide-list__rating-info {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  margin-right: auto;
}

.wide-list__rating {
  position: static;
}

.wide-list__rating-number {
  font-size: 18px;
  line-height: 22px;
}

.wide-list__cost {
  font-size: 18px;
  line-height: 22px;
  margin-right: 15px;
}
