.products-list__card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}

.products-list__card_type_slider {
  width: 245px;
  display: block;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  margin-bottom: 10px;
}

.products-list__img-container {
  width: 100%;
  height: 240px;
  position: relative;
}

.products-list__link_type_image {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.products-list__link_type_image::after {
  position: absolute;
  inset: 0 0 0 0;
  content: '';
  background-color: #000;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  border-radius: 20px 20px 0 0;
}

.products-list__link_type_image:hover::after {
  opacity: .3;
}

.products-list__product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.products-list__like {
  width: 30px;
  height: 30px;
  background: #FFF url('../../images/not-liked.svg') no-repeat center;
  position: absolute;
  top: 13px;
  left: 19px;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.products-list__like:hover {
  background-color: #CCC;
  cursor: pointer;
}

.liked {
  background-image: url('../../images/liked.svg');
}

.products-list__rating {
  position: absolute;
  bottom: 6px;
  right: 6px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-list__star {
  width: 24px;
  height: 24px;
  background: url('../../images/star-line.svg') center/contain;
}

.products-list__info {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
}

.products-list__link_type_name {
  color: #000;
  transition: color .2s ease-in;
}

.products-list__link_type_name:hover {
  color: #2D3A8C;
}

.products-list__name {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.product-list__cost-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.products-list__cost {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.sale {
  color: #FF0000;
}

.last-cost {
  font-size: 12px;
  text-align: center;
}

.products-list__add-btn {
  width: 65px;
  height: 28px;
  background: #94BFFF url('../../images/shopping-cart-add.svg') no-repeat center;
  border-radius: 18px;
  border: none;
  /* display: none; */
}

.products-list__add-btn:hover {
  cursor: pointer;
}

.products-list__add-multiple {
  /* display: none; */
  width: 65px;
  height: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 28px;
  gap: 0;
  border-radius: 18px;
  font-size: 0;
}

.products-list__decrease-btn {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  background-color: #94BFFF;
  border: none;
  border-radius: 18px 0 0 18px;
  padding: 0;
}

.products-list__quantity {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  background-color: #94BFFF;
}

.products-list__increase-btn {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  background-color: #94BFFF;
  border: none;
  border-radius: 0 18px 18px 0;
  padding: 0;
}
