@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);
@import url(https://cdn.envybox.io/widget/cbk.css);

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #F5F7FA;
}
