.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #FF9B9B url(../../images/arrow-up.svg) no-repeat center;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}

.top-button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
