.user-data {
  display: flex;
  flex-direction: column;
}

.user-data__initials {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.user-data__required-input {
  color: #AB091E;
}

.user-data__input {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #0E0244;
  padding: 5px;
}

.user-data__input:focus {
  outline: none;
  background-color: #F2EFFF;
}

.user-data__input:focus-visible {
  outline: none;
}

.user-data__input-error {
  height: 24px;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #AB091E;
  color: #FFF;
}

.user-data__input-error:last-of-type {
  margin-bottom: 5px;
}

.user-data__change-password-btn {
  background-color: #d8d8d8;
  padding: 8px;
  margin-bottom: 30px;
}

.user-data__btn-container {
  display: flex;
  justify-content: space-between;
}

.user-data__change-btn {
  background-color: #2D3A8C;
}

.user-data__delete-btn  {
  background-color: #000;
}

.user-data__change-btn,
.user-data__delete-btn {
  color: #FFF;
  letter-spacing: .4px;
  padding: 8px 16px;
}

.user-data__change-password-btn,
.user-data__change-btn,
.user-data__delete-btn {
  font-size: 16px;
  border: none;
  transition: opacity .2s ease-in-out;
}

.user-data__change-password-btn:hover,
.user-data__change-btn:hover,
.user-data__delete-btn:hover {
  cursor: pointer;
  opacity: .8;
}
