.products {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 2px 5px #CBD2D9;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
}

.products_sales {
  box-shadow: none;
}

.products__list {
  width: 100%;
  display: grid;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0 0 25px;
}

.products__list_type_grid {
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-auto-rows: 322px;
  column-gap: 16px;
  row-gap: 22px;
  justify-content: space-evenly;
}

.products__list_type_list {
  grid-template-columns: 1fr;
  grid-auto-rows: 240px;
  gap: 16px;
}

.products__more-btn {
  width: 100%;
  background-color: #7B93DB;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  padding: 10px 0;
  margin: 0 0 15px;
  transition: opacity .2s ease-in-out;
}

.products__more-btn:hover {
  cursor: pointer;
  opacity: .7;
}

.products__slider {
  width: 100%;
  display: flex;
}

.products__slider-container {
  position: relative;
  margin: 0 auto;
}

.products__dots-container {
  max-width: 154px;
  height: 26px;
  overflow: hidden;
  padding: 2px;
  margin: 0 auto;
}

.products__dots {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-self: center;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.products__dot {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  background-color: #cad5f7;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
}

.products__dot_active {
  background-color: #a4b7f0;
}

.products__dot:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #000;
}

.products__arrow {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 3px;
  border: none;
  transition: opacity .2s ease-in-out;
  appearance: none;
}

.products__arrow_disabled {
  opacity: .5;
}

.products__arrow:not(.products__arrow_disabled):hover {
  cursor: pointer;
  opacity: .7;
}

.products__arrow_type_left {
  background: transparent url(../../images/angle-small-left.svg) no-repeat center;
  left: -30px;
}

.products__arrow_type_right {
  background: transparent url(../../images/angle-small-right.svg) no-repeat center;
  right: -30px;
}

.products__arrow_type_begin {
  background: transparent url(../../images/angle-double-small-left.svg) no-repeat center;
  left: -55px;
}

.products__arrow_type_end {
  background: transparent url(../../images/angle-double-small-right.svg) no-repeat center;
  right: -55px;
}

@media (min-width: 1148px) {
  .products__list_type_grid {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }
}

@media (min-width: 1440px) {
  .products__list_type_grid {
    grid-template-columns: repeat(4, 245px);
  }
}
