@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #F5F7FA;
}

.header {
  width: 100%;
  background-color: #2D3A8C; /* 19216C */
  position: fixed;
  z-index: 4;
}

.header__container {
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 33px;
  margin: 0 auto;
}

.header__links {
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo-link {
  font-size: 0;
  text-decoration: none;
  margin-right: 30px;
  transition: opacity .2s ease-in-out;
}

.header__logo-link:hover {
  opacity: .9;
}

.header__logo {
  width: 65px;
  height: 45px;
}

.header__phone-button {
  width: 25px;
  height: 25px;
  background: rgba(0, 0, 0, 0) url('./images/phone-call.svg') center/cover;
  border: none;
  padding: 0;
}

.header__phone-number {
  background-color: #FFF;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  right: -150%;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
}

.header__phone-button:hover + .header__phone-number, .header__phone-number:hover {
  visibility: visible;
  opacity: 1;
}

.header__menu-links {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu-item {
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px solid #FFF;
  transition: opacity .2s ease-in-out;
}

.header__menu-item:hover {
  opacity: .8;
}

.header__profile-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__search {
  width: 25px;
  height: 25px;
  border: none;
  background: rgba(0, 0, 0, 0) url('./images/search-white.svg') center/cover;
}

.header__search:hover {
  cursor: pointer;
}

.header__favorites, .header__shopping-cart, .header__profile {
  position: relative;
}

.header__fav-button {
  width: 33px;
  height: 30px;
  border: none;
  background: rgba(0, 0, 0, 0) url('./images/heart.svg') center/cover;
}

.header__fav-button:hover {
  cursor: pointer;
}

.header__item-number {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFE3E3;
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  bottom: -5px;
  right: -7px;
}

.header__cart-button {
  width: 33px;
  height: 30px;
  border: none;
  background: rgba(0, 0, 0, 0) url('./images/shopping-cart.svg') center/cover;
}

.header__cart-button:hover {
  cursor: pointer;
}

.header__profile-button {
  width: 33px;
  height: 30px;
  border: none;
  background: rgba(0, 0, 0, 0) url('./images/user.svg');
}

.header__notification {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #EF1414;
  position: absolute;
  bottom: -5px;
  right: -10px;
}

.main {
  max-width: 1440px;
  padding: 90px 48px 15px;
  margin: 0 auto;
}

.intro {
  width: 100%;
}

.intro__container {
  width: 100%;
  height: calc((100vw - 96px)/3.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/computer.jpg') center/cover;
  border-radius: 10px;
  color: #FFF;
}

.intro__title {
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.intro__subtitle {
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 3px solid #FFF;
  margin: 30px 0 80px;
}

.new-products {
  width: 100%;
  padding-bottom: 15px;
  margin-top: 45px;
  border-bottom: 1px solid #CCC;
}

/* .new-products__decor {
  background-color: #DDE2FF;
  padding: 5px 10px 0;
} */

.new-products__title {
  display: inline-block;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.new-products__show {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 15px 40px;
}

.new-products__container {
  width: 97%;
  overflow: hidden;
  margin: 0 auto;
}

.new-products__list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  list-style-type: none;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  transition: transform .4s ease-in-out;
}

.new-products__product-card {
  width: 250px;
  height: 335px;
  /* height: fit-content; */
  display: block;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 5px 5px 5px #CCC;
  margin-bottom: 10px;
}

.new-products__img-container {
  max-width: 100%;
  width: max-content;
  height: 240px;
  position: relative;
}

.new-products__product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.new-products__like {
  width: 30px;
  height: 30px;
  background: #FFF url('./images/not-liked.svg') no-repeat center;
  position: absolute;
  top: 13px;
  left: 19px;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.new-products__like:hover {
  background-color: #CCC;
  cursor: pointer;
}

.liked {
  background-image: url('./images/liked.svg');
}

.new-products__rating {
  position: absolute;
  bottom: 6px;
  right: 6px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.new-products__star {
  width: 24px;
  height: 24px;
  background: url('./images/star-line.svg') center/contain;
}

.new-products__info {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto 70px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title title title"
    "cost sale cart";
  row-gap: 13px;
  overflow: hidden;
}

.new-products__name {
  display: inline-block;
  grid-area: title;
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.new-products__cost {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.sale {
  color: #FF0000;
}

.last-cost {
  font-size: 12px;
  text-align: center;
}

.new-products__add-btn {
  width: 100%;
  height: 28px;
  background: #94BFFF url('./images/shopping-cart-add.svg') no-repeat center;
  border-radius: 18px;
  border: none;
  display: none;
}

.new-products__add-btn:hover {
  cursor: pointer;
}

.new-products__add-multiple {
  /* display: none; */
  width: 100%;
  height: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 28px;
  gap: 0;
  border-radius: 18px;
  font-size: 0;
}

.new-products__decrease-btn {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  background-color: #94BFFF;
  border: none;
  border-radius: 18px 0 0 18px;
  padding: 0;
}

.new-products__quantity {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  background-color: #94BFFF;
}

.new-products__increase-btn {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  background-color: #94BFFF;
  border: none;
  border-radius: 0 18px 18px 0;
  padding: 0;
}

.new-products__dots {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 10px 0 0;
  margin: 0;
}

.new-products__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #2D3A8C;
  transition: opacity .2s ease-in;
}

.new-products__dot:hover {
  cursor: pointer;
  opacity: .8;
}

.new-products__dot_active {
  background-color: #2D3A8C;
}

.arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 5px);
  border: none;
}

.arrow:hover {
  cursor: pointer;
}

.arrow:disabled {
  cursor: auto;
  opacity: .5;
}

.arrow_type_left {
  background: rgba(0, 0, 0, 0) url('./images/arrow-left.svg') no-repeat center;
  left: 15px;
}

.arrow_type_right {
  background: rgba(0, 0, 0, 0) url('./images/arrow-right.svg') no-repeat center;
  right: 15px;
}

.catalog-preview {
  width: 100%;
  margin: 25px 0;
}

.catalog-preview__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.catalog-preview__list {
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(9, 1fr); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  background-color: rgba(0, 0, 0, .3);
  padding: 0;
  margin: 20px 0;
}

.catalog-preview__row {
  height: 220px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes expansion {
  from {
    width: 160px;
  }
  /* 50% {
    width: 300px;
  } */
  to {
    width: 400px;
  }
}

.catalog-preview__item {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* animation: expansion .3s ease-in 1 reverse;
  animation-fill-mode: forwards; */
  /* transition: animation 1s linear; */
  transition: width .2s ease-out;
}


.catalog-preview__item:hover {
  /* animation: expansion .5s ease-out 1;
  animation-fill-mode: forwards; */
  width: 160%;
  cursor: pointer;
  /* width: 400px; */
}

/* .catalog__item:not(:hover) {
  animation: expansion .5s ease-out 1 reverse;
  animation-fill-mode: forwards;
} */


/* .catalog__item::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.catalog__item:hover::after {
  opacity: 0;
} */

.catalog-preview__link {
  width: 100%;
  height: 100%;
  display: block;
}

.catalog-preview__image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  filter: brightness(60%);
}

.catalog-preview__item:hover .catalog-preview__image {
  filter: brightness(100%);
}

.catalog-preview__item-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  z-index: 2;
}
